RewriteEngine On

# Installation directory
RewriteBase /

RewriteRule ^hotel/caracteristicas$ caracteristicas.html [NC,L]
RewriteRule ^hotel/mision-vision$ misionvision.html [NC,L]
RewriteRule ^hotel/ubicacion$ ubicacion.html [NC,L]
RewriteRule ^servicios$ servicios.html [NC,L]
RewriteRule ^habitaciones/doble$ adoble.html [NC,L]
RewriteRule ^habitaciones/twin$ atwin.html [NC,L]
RewriteRule ^planes$ planes.html [NC,L]
RewriteRule ^planesmonterrey$ turismomonterrey.html [NC,L]
RewriteRule ^galeria$ galeria.html [NC,L]
RewriteRule ^reservas$ reservas.html [NC,L]